:root {
  --dl-color-gray-300: #d9dbe1ff;
  --dl-color-gray-700: #969babff;
  --dl-color-gray-800: #474a57ff;
  --dl-color-gray-900: #18191fff;
  --dl-color-pink-100: #ffb1e6ff;
  --dl-color-pink-800: #ff72d2ff;
  --dl-size-size-unit: 1rem;
  --dl-color-gray-black: #000000ff;
  --dl-color-gray-white: #FFFFFF;
  --dl-color-orange-100: #ffe3c1ff;
  --dl-color-orange-800: #ffc278ff;
  --dl-color-purple-100: #f1e4ffff;
  --dl-color-purple-800: #d6b1ffff;
  --dl-color-purple-900: #ac69f8ff;
  --dl-space-space-unit: 16px;
  --dl-color-gray-black1: #000000;
  --dl-color-purple-1000: #6209c6ff;
  --dl-space-space-unit1: 16px;
  --dl-space-space-unit2: 16px;
  --dl-color-pink-default: #f22bb2ff;
  --dl-size-size-halfunit: 0.5rem;
  --dl-color-turquoise-100: #d5fafcff;
  --dl-color-turquoise-800: #75e3eaff;
  --dl-radius-radius-round: 50%;
  --dl-color-orange-default: #fe9a22ff;
  --dl-color-purple-default: #8c30f5ff;
  --dl-size-size-doubleunit: 2rem;
  --dl-size-size-tripleunit: 3rem;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius6: 6px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-halfunit1: 8px;
  --dl-color-purple-redmaroon: #d4a6a6ff;
  --dl-space-space-doubleunit: 2rem;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-tripleunit: 3rem;
  --dl-color-turquoise-default: #2ec5ceff;
  --dl-space-space-oneandhalfunits: 24px;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.button {
  color: var(--dl-color-gray-900);
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: Inter;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list-item {
  display: list-item;
}
.input {
  color: var(--dl-color-gray-900);
  cursor: auto;
  padding: 0.5rem 1rem;
  font-family: Inter;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-900);
  cursor: auto;
  padding: 0.5rem;
  font-family: Inter;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.button-main {
  gap: var(--dl-space-space-halfunit);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-family: Inter;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: rgb(36, 97, 255);
}
.button-main:hover {
  opacity: 0.75;
}
.book-type {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
}
.book-type:hover {
  color: white;
  background-color: black;
}
.book-input {
  width: 100%;
  padding-top: 0px;
  border-color: #B4B9C6;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: transparent;
  border-bottom-width: 1px;
}
.LargeLabel {
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.Body2 {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.Lead1 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.77;
  text-transform: none;
  text-decoration: none;
}
.Headline6 {
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.Body1 {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.Lead2 {
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 1.77;
  text-transform: none;
  text-decoration: none;
}
.Headline3 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.Headline2 {
  font-size: 48px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.Headline5 {
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.Subtitle2 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.SmallLabel {
  font-size: 12px;
  font-family: Inter;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.MediumLabel {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.Headline1 {
  font-size: 72px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.BadgeLabel {
  font-size: 20px;
  font-family: Nanum Pen Script;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.Subtitle1 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.Headline4 {
  font-size: 28px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.Capitalised {
  font-size: 14px;
  font-family: Inter;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}



